{#
/**
 * @file
 * Template for a 2 column timeline left content layout.
 *
 * This template provides a two column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.left: Content in the left column.
 *   - content.right: Content in the right column.
 */
#}
<div {{ attributes.setAttribute('id', settings.css_id).addClass('row', 'ssc-2col--paragraph--content_left', 'wrapper', settings.css_classes) }}>
  <div class="large-6 medium-6 medium-push-6 large-push-6 columns">
    {{ content.left }}
  </div>
  <div class="large-6 medium-6 medium-pull-6 columns">
    {{ content.right }}
  </div>
</div> <!-- /.ssc-2col--paragraph--content_left -->
