{#
/**
 * @file
 * Template for a User Configurable Grid.
 *
 * This template provides a 1 column panel display layout, and a hidden panel for token fields.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.visible: Content to be displayed.
 *   - content.tokens: Content to use in a paragraphs preprocess function.
 */
#}
<div {{ attributes.setAttribute('id', settings.css_id).addClass('row', 'drupalcamp-configurable-grid', 'wrapper', settings.css_classes) }}>
    {{ content.visible }}
</div> <!-- /.drupalcamp-configurable-grid -->
